/**
 * @file
 * Styling of the Recurly payment widgets.
 */

/* Default styles for the div surrounding each field iframe.*/
.recurly-hosted-field {
  position: relative;
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 4px;
  height: 16px;
}
